{% extends "base.html" %}
{% load static %}

<head>
    <title>{% block title %}Rental Cars - Машины {% endblock %}</title>
</head>

<body>
{% block content %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NX5VQP"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page_loader"></div>

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Все автомобили</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url "main:index" %}">Главная</a></li>
                <li class="active">Машины</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                {% if message %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endif %}
                <div class="row">
                    {% for car in page_obj %}
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="car-details.html" class="car-img">
                                    <div class="tag">For Rent</div>
                                    <div class="price-box">
                                        <span>₽{{ car.price }}</span>
                                    </div>
                                    <img class="d-block w-100" src="{{ car.image.url }}" alt="car">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="{{ car.image.url }}" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="{{ car.image.url }}">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="car-details.html">{{ car.name }}</a>
                                </h1>
                                <div class="location">
                                    <a href="car-details.html">
                                        <i class="flaticon-pin"></i>{{ car.location }}
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>{{ car.mileage }} km</li>
                                    <li>{{ car.transmission }}</li>
                                    <li>{{ car.car_type }}</li>
                                    <li>{{ car.year }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- Page navigation start -->
                <div class="pagination-box p-box-2 text-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
                            </li>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Advanced search start -->
                    <div class="widget advanced-search2">
                        <h3 class="sidebar-title">Найдите автомобиль</h3>
                        <form action="{% url 'cars:search_car' %}" method="get">
                            <div class="form-group">
                                <input type="text" name="keyword" placeholder="Название машины" class="form-control" value="{{ filters.keyword }}">
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="select-brand">
                                    <!-- Заголовок по умолчанию -->
                                    <option value="" disabled selected>Бренд</option>
                                    
                                    <!-- Кнопка для сброса фильтра -->
                                    <option value="">Любой</option>
                                    {% for brand in unique_brands %}
                                        {% if brand %}
                                            <option value="{{ brand }}" {% if filters.brand == brand %}selected{% endif %}>{{ brand }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="select-make">
                                    <!-- Заголовок по умолчанию -->
                                    <option value="" disabled selected>Модель</option>
                                    
                                    <!-- Кнопка для сброса фильтра -->
                                    <option value="">Любая</option>
                                    {% for model in unique_model %}
                                        {% if model %}
                                            <option value="{{ model }}" {% if filters.model == model %}selected{% endif %}>{{ model }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="select-location">
                                    <!-- Заголовок по умолчанию -->
                                    <option value="" disabled selected>Локация</option>
                                    
                                    <!-- Кнопка для сброса фильтра -->
                                    <option value="">Любая</option>
                                    {% for location in unique_location %}
                                        {% if location %}
                                            <option value="{{ location }}" {% if filters.location == location %}selected{% endif %}>{{ location }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="select-year">
                                    <!-- Заголовок по умолчанию -->
                                    <option value="" disabled selected>Год выпуска</option>
                                    
                                    <!-- Кнопка для сброса фильтра -->
                                    <option value="">Любой</option>
                                    {% for year in unique_year %}
                                        {% if year %}
                                            <option value="{{ year }}" {% if filters.year == year %}selected{% endif %}>{{ year }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="select-type">
                                    <!-- Заголовок по умолчанию -->
                                    <option value="" disabled selected>Класс автомобиля</option>
                                    
                                    <!-- Кнопка для сброса фильтра -->
                                    <option value="">Любой</option>
                                    
                                    <!-- Список классов автомобилей -->
                                    {% for car_type in unique_car_type %}
                                        {% if car_type %}
                                            <option value="{{ car_type }}" {% if filters.car_type == car_type %}selected{% endif %}>{{ car_type }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="range-slider clearfix">
                                <label>Цена</label>
                                <div data-min="0" data-max="100000" data-min-name="min_price" data-max-name="max_price" data-unit="РУБ" class="range-slider-ui ui-slider"></div>
                                <input type="hidden" id="min_price"  value="{{ filters.min_price }}">
                                <input type="hidden" id="max_price"  value="{{ filters.max_price }}">
                            </div>
                            <button class="btn btn-block button-theme btn-md">
                                <i class="fa fa-search"></i> Поиск
                            </button>
                        </form>                                                                    
                    </div>
                   
                    <!-- Question start -->
                    <div class="widget question widget-3">
                        <h5 class="sidebar-title">Подпишитесь на нас</h5>
                        <div class="social-list clearfix">
                            <ul>
                                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>
<!-- Featured car end -->



<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="https://storage.googleapis.com/theme-vessel/carhouse/index.html#" class="search-header">
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-sm button-theme">Search</button>
    </form>
</div>
{% endblock content %}
</body>
</html>
